*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(172,230,195);
    text-align: center;
}
ul{
    width: 90%;
    height: 70px;
    display: flex;
    background-color: rgb(255, 255, 255);
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    background-color: rgb(172,230,195);
    margin: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
nav img{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 5px;
}
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 50px;
}
nav a{
    color: black;
    text-decoration: none;
}
h1{
    text-align: center;
    font-family: 'Itim', cursive;
}
img{
    width: 200px;
    margin-top: 50px;
}
h2{
    font-family:  'Poppins', sans-serif;
    margin-top: 10px;
}
div a{
    color: black;
    text-decoration: none;
}
p{
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 20px auto;
}









@media only screen and (max-width: 640px){
    nav{
        padding: 0;
    }
    li{
        width: 50px;
        height: 25px;
        font-size: 8px;
    }
    ul{
        align-items: center;
    }
    nav img{
        width: 25px;
        height: auto;
    }
    nav{
        align-items: center;
    }
}
