*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(172,230,195);
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; text-align: center;
}
.form-group input, .form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid darkgray;
    margin-top: 5px;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}
button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p{
    background-color: #fafafa;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    font-family: 'Poppins', sans-serif;
    margin:10px auto;
}
a{
    color: black;
    text-decoration: none;
}