*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(172,230,195);
}
.divas{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
a p{
    color: black;
    margin: 15px;
    width: 200px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding: 18px;
}
a{
    color: black;
    text-decoration: none;
}
h2 a{
    width: 320px;
    height: 60px;
}
h2{
    width: 320px;
    height: 60px;
    margin: 50px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding: 11px;
}
h3{
    text-align: center;
    margin: 50px
}
h4{
    display: inline-block;
    width: 300px;
    text-align: right;
    margin-right: 15px;
}
.div2{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.div3{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid black;
}
.div4{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid black;
}
.div5{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid black;
}
.div6{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid black;
}
@media only screen and (max-width: 640px){
    h4{
        font-size: 10px;
    }
}